div.container {
  width:100%;
}
div.schedule-scenes {
  overflow-y:scroll;
  height:550px;
}

div.schedule-scenes a.list-group-item {
  height:100px;
  border-top: 1px solid #687583;
}

div.schedule-scenes a.list-group-item:first-letter {
    text-transform:capitalize;
}

button#button-beat {
  padding:50px;
}

button#button-go {
  float:right;
}

div.beat {
  margin-bottom:60px;
}

div.beat button.btn-blink { 
  background-color:#ffa95a;
}
div.quick-programs span.label {
  margin-right:5px;
  padding:5px;
  font-size:12pt;
  cursor:pointer;
  display:inline-block;
  margin-bottom:10px;
}

span.quick-dest {
  float:right;
}
div.quick-programs h4 {
  margin-bottom:25px;
}
div.quick-programs button {
  padding:5px;
  margin-right:5px;
  cursor:pointer;
}

div.global-controls {
  padding-top:100px;
}

div.loading {
  font-size:20pt;
  width:100%;
  text-align:center;
  margin-top: 60px;
}